<html>
    <head>
        <title>landing authentication</title>
    </head>

    <body>
        <h2>Hello {{request.user}}! </h2>
        <a href="/authentication/signout/" class="btn"> Log Out </a>
    </body>
</html>