<html>
    <head>
        <title>landing authentication</title>
    </head>

    <body>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <label>First Name</label> {{formSignUp.first_name}}
                <label>Last Name</label> {{formSignUp.last_name}}
                <label>Username</label> {{formSignUp.username}}
                <label>Email</label> {{formSignUp.email}}
                <label>Password</label> {{formSignUp.password1}}
                <label>Password Confirmation</label> {{formSignUp.password2}}
                <input type="submit" class="btn" value="Sign Up">
            </form>
            <div class="error">
                {% for message in messages %}
                <p style="color: red;" >{{message}}</p>
                {% endfor %}
            </div>
            <p>Sudah punya akun? <span><a href="/authentication/signin/"> Sign In</a></span></p>
        </div>
    </body>
</html>