
<html>
    <head>
        <title>Sign In</title>
    </head>

    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Username</label> <input name="username" type="text" class="form-control" placeholder="username" autocomplete="off">
            <label>Username</label> <input name="password" type="password" class="form-control" placeholder="password" autocomplete="off">
            <input type="submit" class="btn" value="Sign In" >
        </form>

        <div class="error">
            {% for message in messages %}
                <p style="color: red;" >{{message}}</p>
            {% endfor %}
         </div>
         <p>Belum punya akun? <span><a href="/authentication/signup/"> Sign Up</a></span></p>
    </body>
</html>